Nav {
  background-color: #808080;
}


@media only screen and (max-width: 768px) {
 /* * {
   border: 1px solid red;
 } */
}

@media only screen and (max-width: 375px) {
    div {
      text-align:center;
      margin: auto;
    }
    .navBar {
      display:none;
    }
}