.jobsTable {
    margin: 25px auto;
}

td,
tr,
th {
    padding-left: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    max-width: 185px;
    overflow: hidden;
    white-space: nowrap;
}

input {
    border: none;
    outline:none;
    border: 1px solid black;
}